/**
 * @file
 * RTL companion for the modules.css file.
 */


/* =============================================================================
   Branding header
   ========================================================================== */

.header--logo { /* Wrapping link for logo */
  float: right;
}

.header--secondary-menu {
  float: left;
}


/* =============================================================================
   Navigation bar
   ========================================================================== */

#navigation ul.links, /* Main menu and secondary menu links */
#navigation ul.menu { /* Menu block links */
  text-align: right;
}

#navigation ul.links li,
#navigation ul.menu li { /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}


/* =============================================================================
   Tabs
   ========================================================================== */

.tabs--tab,
.tabs-primary--tab,
.tabs-primary--tab-active,
.tabs-secondary--tab,
.tabs-secondary--tab-active {
  float: right;
}

/* =============================================================================
   Inline styles
   ========================================================================== */

ul.inline li { /* List of links */
  display: inline-block; /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}
span.field-label { /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}


/* =============================================================================
   Menus
   ========================================================================== */

.menu--collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  *list-style-image: url(../images/menu-collapsed-rtl.png);
}


/* =============================================================================
   Forms
   ========================================================================== */

#user-login-form { /* Drupal's default login form block */
  text-align: right;
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-left: 0;
  margin-right: -20px; /* Un-do some of the padding on the ul list. */
}

/*
 * Drupal admin tables
 */

form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}
