//
// CSS targeted specifically for Internet Explorer 7 (and earlier) for Windows.
//
// Any CSS in this file will apply to all versions of IE before IE 8. You can
// target specific versions of IE by using conditional comments. See your
// sub-theme's .info file for an easy way to use them.
//


//
// Tabs
//
ul.primary li,
ul.secondary li {
  a,
  a .tab {
    cursor: pointer;
  }
}


//
// Drupal admin tables
//
tr.even,
tr.odd {
  th,
  td {
    border-bottom: 1px solid #ccc; // IE doesn't display borders on table rows
  }
}
