//
// RTL companion for the layout-fixed.scss file.
//
// The contents of this file are just copy and pasted from the layout-fixed.scss
// file and then edited to cange the $leading-direction to be "right" to
// override the default left direction. Simple!
//

@import "base";
@import "zen-columns";



// If you need support for IE6, uncomment this line:
//$legacy-support-for-ie6: true;


// The layout when there are no sidebars.
#main {
  @include clearfix;

  @include zen-columns-fixed (
    // These mixin parameters describe the columns.
    $selectors: ('#content'),
    $widths: (960px),
    $leading-direction: (right),
    $leading-gutters: (0),
    $padding: (),

    // These mixin parameters describe the navbar.
    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}

// The layout when there is only one sidebar, the left one.
.sidebar-first #main {
  @include zen-columns-fixed (
    // These mixin parameters describe the columns.
    $selectors: ('.region-sidebar-first', '#content'),
    $widths: (180px, 760px),
    $leading-direction: (right),
    $leading-gutters: (0, 20px),
    $padding: (),

    // These mixin parameters describe the navbar.
    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}

// The layout when there is only one sidebar, the right one.
.sidebar-second #main {
  @include zen-columns-fixed (
    // These mixin parameters describe the columns.
    $selectors: ('#content', '.region-sidebar-second'),
    $widths: (760px, 180px),
    $leading-direction: (right),
    $leading-gutters: (0, 20px),
    $padding: (),

    // These mixin parameters describe the navbar.
    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}

// The layout when there are two sidebars.
.two-sidebars #main {
  @include zen-columns-fixed (
    // These mixin parameters describe the columns.
    $selectors: ('.region-sidebar-first', '#content', '.region-sidebar-second'),
    $widths: (180px, 560px, 180px),
    $leading-direction: (right),
    $leading-gutters: (0, 20px, 20px),
    $padding: (),

    // These mixin parameters describe the navbar.
    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}
