//
// RTL companion for the layout-fixed.scss file.
//

@import "base";
@import "zen-columns";


#main {
  @include clearfix;
  @include zen-columns-fixed (
    $selectors: ('#content'),
    $widths: (960px),
    $leading-direction: (right),
    $leading-gutters: (0),
    $padding: (),

    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}

.sidebar-first #main {
  @include zen-columns-fixed (
    $selectors: ('.region-sidebar-first', '#content'),
    $widths: (180px, 760px),
    $leading-direction: (right),
    $leading-gutters: (0, 20px),
    $padding: (),

    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}
.sidebar-second #main {
  @include zen-columns-fixed (
    $selectors: ('#content', '.region-sidebar-second'),
    $widths: (760px, 180px),
    $leading-direction: (right),
    $leading-gutters: (0, 20px),
    $padding: (),

    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}
.two-sidebars #main {
  @include zen-columns-fixed (
    $selectors: ('.region-sidebar-first', '#content', '.region-sidebar-second'),
    $widths: (180px, 560px, 180px),
    $leading-direction: (right),
    $leading-gutters: (0, 20px, 20px),
    $padding: (),

    $navbar-selector: '#navigation',
    $navbar-height: 3em,
    $navbar-width: 100%,
    $navbar-leading-gutter: 0,
    $navbar-padding: 0
  );
}
