/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 */

@import "base";


/* =============================================================================
   Wireframes
   ========================================================================== */

.with-wireframes {
  #header,
  #main,
  #content,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .region-bottom {
    outline: 1px solid #ccc;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .lt-ie8 & {
        border: 1px solid #ccc; /* IE6/7 do not support the outline property. */
      }
    }
  }
}


/* =============================================================================
   Tabs
   ========================================================================== */

/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  @include clearfix;
  border-bottom: 1px solid $tabs-border;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;

  li {
    float: left; /* LTR */
    margin: 0.5em 3px 0;
  }

  a {
    border: 1px solid #e9e9e9;
    border-right: 0;
    border-bottom: 0;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
  }
}

/*
 * Primary tabs
 */

ul.primary {
  li {
    @include border-top-radius(4px);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    border: 1px solid $tabs-border;
    border-bottom: 0;
    margin: 0.5em 0 0 3px; /* LTR */
  }
  li.active {
    border-bottom: 1px solid $tabs-container-bg;
    margin-bottom: -1px; /* Overlap the ul's border. */
  }

  a:link,
  a:visited {
    @include border-top-radius(4px);
    @include transition(background-color 0.3s);
    color: #333;
    background-color: #dedede;
    letter-spacing: 1px;
    padding: 0 1em;
    text-align: center;
  }
  a:hover,
  a:focus {
    background-color: #e9e9e9;
    border-color: #f2f2f2;
  }
  a.active {
    background-color: transparent;
    @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
    @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
    border-color: #fff;
  }
}

/*
 * Secondary tabs
 */

ul.secondary {
  font-size: .9em;
  margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;

  a:link,
  a:visited {
    @include border-radius(.75em);
    @include transition(background-color 0.3s);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  a:hover,
  a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  a.active,
  a:active {
    @include single-text-shadow(#333, 1px, 1px, 0);
    background-color: #666;
    border-color: #000;
    color: #fff;
  }
}


/* =============================================================================
   Body
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
}

#page {
}


/* =============================================================================
   Skip link

   The skip-link link will be completely hidden until a user tabs to the link.
   See the element-focusable rule in system.base.css.
   ========================================================================== */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}


/* =============================================================================
   Branding header
   ========================================================================== */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}


/* =============================================================================
   Main area
   ========================================================================== */

#main {
}

#content {
}

.region-highlighted {
}


/* =============================================================================
   Breadcrumb navigation
   ========================================================================== */

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


/* =============================================================================
   Titles
   ========================================================================== */

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}


/* =============================================================================
   Messages
   ========================================================================== */

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}


/* =============================================================================
   Content area
   ========================================================================== */

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}


/* =============================================================================
   Inline styles
   ========================================================================== */

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}


/* =============================================================================
   Pager
   ========================================================================== */

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}


/* =============================================================================
   More page areas
   ========================================================================== */

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

.region-sidebar-first { /* First sidebar (on left in LTR languages, on right in RTL) */
}

.region-sidebar-second { /* Second sidebar (on right in LTR languages, on left in RTL) */
}

#footer {
}

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


/* =============================================================================
   Blocks
   ========================================================================== */

.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}


/* =============================================================================
   Menus
   ========================================================================== */

ul li.expanded {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-expanded.png);
  }
  list-style-image: inline-image("menu-expanded.png");
  list-style-type: circle;
}
ul li.collapsed {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-collapsed.png); /* LTR */
  }
  list-style-image: inline-image("menu-collapsed.png"); /* LTR */
  list-style-type: disc;
}
ul li.leaf {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-leaf.png);
  }
  list-style-image: inline-image("menu-leaf.png");
  list-style-type: square;
}
li a.active { /* The active item in a Drupal menu */
  color: #000;
}


/* =============================================================================
   Navigation bar
   ========================================================================== */

#navigation {
  /* overflow: hidden; */ /* Sometimes you want to prevent overlapping with main div. */

  .block {
    margin-bottom: 0;
  }

  .block-menu .block-title,
  .block-menu-block .block-title {
    @include element-invisible();
  }

  ul.links, /* Main menu and secondary menu links */
  ul.menu { /* Menu block links */
    margin: 0;
    padding: 0;
    text-align: left; /* LTR */

    li { /* A simple method to get navigation links to appear in one line. */
      float: left; /* LTR */
      padding: 0 10px 0 0; /* LTR */
      list-style-type: none;
      list-style-image: none;
    }
  }
}

.region-navigation {
}


/* =============================================================================
   Main menu and Secondary menu links
   ========================================================================== */

#main-menu {
}

#secondary-menu {
  float: right; /* LTR */
}


/* =============================================================================
   Menu blocks

   Drupal core has limited ways in which it can display its menus. To get around
   these limitations, see http://drupal.org/project/menu_block
   ========================================================================== */

.block-menu {
}

.block-menu-block {
}


/* =============================================================================
   Views admin tabs

   The views admin tabs use the same classes as the secondary tabs. We prevent
   some of our tab styling from bleeding into (and breaking) the Views admin
   pages. If your sub-theme isn't used for admin pages, you can remove this
   entire section.
   ========================================================================== */

.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}


/* =============================================================================
   Nodes
   ========================================================================== */

.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}


/* =============================================================================
   Comments
   ========================================================================== */

.comments { /* Wrapper for the list of comments and its title */
  margin: 1.5em 0;

  h2.title { /* Heading for the list of comments */
  }

  h2.comment-form { /* Heading for the comment form */
  }
}

.comment { /* Wrapper for a single comment */

  &.comment-preview { /* Preview of the comment before submitting new or updated comment */
    background-color: #ffffea; /* Drupal core will use a #ffffea background. See #1110842 */
  }

  &.new { /* A new comment since the user last viewed the page. */
  }

  &.first { /* The first comment in the list of comments */
  }

  &.last { /* The last comment in the list of comments */
  }

  &.odd { /* An odd-numbered comment in the list of comments */
  }

  &.even { /* An even-numbered comment in the list of comments */
  }

  &.comment-by-anonymous { /* A comment created by an anonymous user */
  }

  &.comment-by-node-author { /* A comment created by the node's author */
  }

  &.comment-by-viewer { /* A comment created by the current user */
  }

  h3.comment-title { /* Comment title */
  }

  .new { /* "New" marker for comments that are new for the current user */
    color: #c00;
  }

  .user-picture { /* The picture of the comment author */
  }

  .submitted { /* The "posted by" information */
  }

  .permalink { /* Comment's permalink wrapper */
    text-transform: uppercase;
    font-size: 75%;
  }

  .user-signature { /* The user's signature */
  }

  ul.links { /* Comment links. See also the ul.links declaration in the pages.css. */
  }
}

.indented { /* Nested comments are indented */
  margin-left: $indent-amount; /* Drupal core uses a 25px left margin */
}

.comment-unpublished { /* Unpublished comments */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}


/* =============================================================================
   Forms
   ========================================================================== */

.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;

  input.error,
  textarea.error,
  select.error { /* Highlight the form elements that caused a form submission error */
    border: 1px solid #c00;
  }

  label { /* The label for a form element */
    display: block;
    font-weight: bold;
  }

  label.option { /* The label for a radio button or checkbox */
    display: inline;
    font-weight: normal;
  }

  .form-required { /* The part of the label that indicates a required field */
    color: #c00;
  }

  .description { /* The descriptive help text (separate from the label) */
    font-size: 0.85em;
  }

  .form-checkboxes & ,
  .form-radios & { /* Pack groups of checkboxes and radio buttons closer together */
    margin: 0; /* Drupal core uses "0.4em 0" */
  }
}

.form-submit { /* The submit button */
}

.container-inline {
  div,
  label { /* Inline labels and form divs */
    display: inline;
  }
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  @include appearance(button);
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */

  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  ul { /* OpenID creates a new ul above the login form's links. */
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  html.js & li.openid-link,
  li.openid-link { /* The "Log in using OpenID" link. */
    margin-top: 1.5em;
    margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
  }

  li.user-link { /* The "Cancel OpenID login" link. */
    margin-top: 1.5em;
  }
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }

  tbody {
    border-top: 1px solid #ccc;
  }

  tr.even {
    background-color: #fff;
  }

  table .item-list ul {
    margin: 0;
  }
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
    }
  }
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}


/* =============================================================================
   Fields

   The Fences module allows site builders to pick the semeantic HTML5 element
   for each field while editing the field's settings. There's no way a theme
   can ever know which element to use for the fields on your site, so Zen
   just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
   divs around every field (do you?), we highly recommend Fences.

   http://drupal.org/project/fences
   ========================================================================== */

/*
 * Field wrappers when the Fences module is enabled.
 */

.field-label { /* The optional label for a field. */
}

.field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}

/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */

.field { /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */

.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */

.field-type-datetime { /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

.field-type-node-reference {
}

.field-type-user-reference {
}

/*
 * Named fields
 */

.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}
