//
// Page Background Styling
//
// The default layout method of Zen doesn't give themers equal-height columns.
// However, equal-height columns are difficult to achieve and totally
// unnecessary. Instead, use the Faux Columns method described in the following
// ALA article:
//   http://www.alistapart.com/articles/fauxcolumns/
//

@import "base";


body {
}

#page {
}

#header {
}

#main {
}

#footer {
}
