//
// RTL companion for the tabs.scss file.
//

@import "base";


ul.primary {
  padding: 0 10px 0 0;

  li {
    float: right;
  }
}

ul.secondary {
  padding: 0 5px 0 0;

  li {
    float: right;
    border-left: none;
  }
}
