<div class="form-item {{modifier_class}}">
  <label class="form-item__label" for="form-item-input">Label <span class="form-item__required" title="This field is required.">*</span></label>
  <input class="form-item__widget" type="text" id="form-item-input" value="Text value">
  <div class="form-item__description">
    Form item description.
  </div>
</div>

<div class="form-item">
  <label class="form-item__label" for="group">Label for the group</label>
  <div class="form-item__group" id="group">

    <div class="form-item--grouped {{modifier_class}}">
      <input class="form-item__widget" type="checkbox" id="option-1" value="1">
      <label class="form-item--grouped__label" for="option-1">Option 1</label>
    </div>
    <div class="form-item--grouped {{modifier_class}}">
      <input class="form-item__widget" type="checkbox" id="option-2" value="2">
      <label class="form-item--grouped__label" for="option-2">Option 2</label>
    </div>

  </div>
  <div class="form-item__description">
    Form item description.
  </div>
</div>
