// Autocomplete field
//
// Markup: autocomplete.html
//
// .is-throbbing - Waiting for search result.
//
// Style guide: components.forms.autocomplete


// Animated throbber
.autocomplete,
%autocomplete {
  background-image: image-url('throbber.gif');
  background-position: 100% 2px;
  background-repeat: no-repeat;

  @include rtl() {
    background-position: 0% 2px;
  }
}

.autocomplete.is-throbbing,
%autocomplete-is-throbbing {
  background-position: 100% -18px;

  @include rtl() {
    background-position: 0% -18px;
  }
}

// Suggestion list.
.autocomplete__list-wrapper,
%autocomplete__list-wrapper {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.autocomplete__list,
%autocomplete__list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.autocomplete__list-item,
%autocomplete__list-item {
  background: color(autocomplete-bg);
  color: color(autocomplete);
  cursor: default;
  white-space: pre;
  @if support-legacy-browser(ie, '7') {
    zoom: 1;
  }
}

.autocomplete__list-item.is-selected,
%autocomplete__list-item-is-selected {
  background: color(autocomplete-select-bg);
  color: color(autocomplete-select);
}


// Drupal selectors.
html.js input {
  &.form-autocomplete {
    @extend %autocomplete;
  }

  &.throbbing {
    @extend %autocomplete-is-throbbing;
  }
}

// scss-lint:disable IdSelector
#autocomplete {
  @extend %autocomplete__list-wrapper;

  ul {
    @extend %autocomplete__list;
  }

  li {
    @extend %autocomplete__list-item;
  }

  .selected {
    @extend %autocomplete__list-item-is-selected;
  }
}
// scss-lint:enable IdSelector
