/**
 * @file
 * Autocomplete form field.
 *
 * @see autocomplete.js
 */


/* Suggestion list. */
.autocomplete__list-wrapper,
%autocomplete__list-wrapper {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.autocomplete__list,
%autocomplete__list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.autocomplete__list-item,
%autocomplete__list-item {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  @if support-legacy-browser(ie, "7") {
    zoom: 1;
  }
}

.autocomplete__list-item.is-selected,
%autocomplete__list-item-is-selected {
  background: #0072b9;
  color: #fff;
}

/* Animated throbber */
.autocomplete__input,
%autocomplete__input {
  background-image: image-url("throbber.gif");
  background-position: 100% 2px; /* LTR */
  background-repeat: no-repeat;
}

.autocomplete__input.is-throbbing,
%autocomplete__input-is-throbbing {
  background-position: 100% -18px; /* LTR */
}


// Drupal selectors.
#autocomplete {
  @extend %autocomplete__list-wrapper;

  ul {
    @extend %autocomplete__list;
  }
  li {
    @extend %autocomplete__list-item;
  }
  .selected {
    @extend %autocomplete__list-item-is-selected;
  }
}

html.js input {
  &.form-autocomplete {
    @extend %autocomplete__input;
  }
  &.throbbing {
    @extend %autocomplete__input-is-throbbing;
  }
}
