// Dependencies.
@import 'visually-hidden';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
//
// Markup: breadcrumb.hbs
//
// Style guide: components.navigation.breadcrumb

.breadcrumb,
%breadcrumb {
  @media print {
    display: none;
  }
}

.breadcrumb__title,
%breadcrumb__title {
  @extend %visually-hidden;
}

.breadcrumb__list,
%breadcrumb__list {
  margin: 0;
  padding: 0;
}

.breadcrumb__item,
%breadcrumb__item {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
