/**
 * @file
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */

.collapsible-fieldset,
%collapsible-fieldset {
  position: relative;
}

.collapsible-fieldset.is-collapsed,
%collapsible-fieldset-is-collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

.is-collapsed .collapsible-fieldset__wrapper,
%collapsible-fieldset-is-collapsed__wrapper {
  display: none;
}

.collapsible-fieldset__legend,
%collapsible-fieldset__legend {
  display: block;
  background-image: inline-image("menu-expanded.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("menu-expanded.png");
  }
  background-position: 5px 65%; /* LTR */
  background-repeat: no-repeat;
  padding-left: 15px; /* LTR */
}

.is-collapsed .collapsible-fieldset__legend,
%collapsible-fieldset-is-collapsed__legend {
  background-image: inline-image("menu-collapsed.png"); /* LTR */
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("menu-collapsed.png"); /* LTR */
  }
  background-position: 5px 50%; /* LTR */
}

.collapsible-fieldset__summary,
%collapsible-fieldset__summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}


// Drupal selectors.

.collapsible {
  @extend %collapsible-fieldset;

 .fieldset-legend {
    @extend %collapsible-fieldset__legend;

    .summary {
      @extend %collapsible-fieldset__summary;
    }
  }
}

.collapsed {
  @extend %collapsible-fieldset-is-collapsed;

 .fieldset-legend {
    @extend %collapsible-fieldset-is-collapsed__legend;
  }

  .fieldset-wrapper {
    @extend %collapsible-fieldset-is-collapsed__wrapper;
  }
}
