/**
 * @file
 * The RTL language extension of the collapsible-fieldset component.
 */

.collapsible-fieldset__legend,
%collapsible-fieldset__legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}

.is-collapsed .collapsible-fieldset__legend,
%collapsible-fieldset-is-collapsed__legend {
  background-image: inline-image("menu-collapsed-rtl.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("menu-collapsed-rtl.png");
  }
  background-position: 98% 50%;
}


// Drupal selectors.

.collapsible {
  .fieldset-legend {
    @extend %collapsible-fieldset__legend;
  }
}

.collapsed {
  .fieldset-legend {
    @extend %collapsible-fieldset-is-collapsed__legend;
  }
}
