// Collapsible fieldsets

.collapsible-fieldset,
%collapsible-fieldset {
  position: relative;
}

.collapsible-fieldset.is-collapsed,
%collapsible-fieldset-is-collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

.is-collapsed .collapsible-fieldset__wrapper,
%collapsible-fieldset-is-collapsed__wrapper {
  display: none;
}

.collapsible-fieldset__legend,
%collapsible-fieldset__legend {
  display: block;
  padding-left: 15px;
  background-image: inline-image('menu-expanded.png');
  @if support-legacy-browser(ie, '7') {
    *background-image: image-url('menu-expanded.png');
  }
  background-position: 5px 65%;
  background-repeat: no-repeat;

  @include rtl() {
    padding-left: 0;
    padding-right: 15px;
    background-position: 98% 75%;
  }
}

.is-collapsed .collapsible-fieldset__legend,
%collapsible-fieldset-is-collapsed__legend {
  background-image: inline-image('menu-collapsed.png');
  @if support-legacy-browser(ie, '7') {
    *background-image: image-url('menu-collapsed.png');
  }
  background-position: 5px 50%;

  @include rtl() {
    background-image: inline-image('menu-collapsed-rtl.png');
    @if support-legacy-browser(ie, '7') {
      *background-image: image-url('menu-collapsed-rtl.png');
    }
    background-position: 98% 50%;
  }
}

.collapsible-fieldset__summary,
%collapsible-fieldset__summary {
  color: color(fieldset-summary);
  font-size: .9em;
  margin-left: .5em;
}


// Drupal selectors.

.collapsible {
  @extend %collapsible-fieldset;

  .fieldset-legend {
    @extend %collapsible-fieldset__legend;

    .summary {
      @extend %collapsible-fieldset__summary;
    }
  }
}

.collapsed {
  @extend %collapsible-fieldset-is-collapsed;

  .fieldset-legend {
    @extend %collapsible-fieldset-is-collapsed__legend;
  }

  .fieldset-wrapper {
    @extend %collapsible-fieldset-is-collapsed__wrapper;
  }
}
