/**
 * @file
 * Branding header.
 */

/* Wrapping link for logo. */
.header__logo {
  float: left;
  margin: 0;
  padding: 0;

  @include rtl() {
    float: right;
  }
}

/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  @extend %h1;
  margin: 0;
}

/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited {
    color: #000;
    text-decoration: none;

    @media print {
      // Prevent print link styling from overriding.
      text-decoration: none !important;
    }
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right;

  @include rtl() {
    float: left;
  }
}

/* Wrapper for any blocks placed in the header region. */
.header__region {
  /* Clear the logo. */
  clear: both;
}
