/**
 * The RTL language extension of the inline component.
 */

.inline-field-label,
%inline-field-label {
  padding: 0 0 0 1em;
}

.inline-links__item,
%inline-links__item {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}


// Drupal selectors.

/* The inline field label used by the Fences module. */
span.field-label {
  @extend %inline-field-label;
}

.inline {
  li {
    @extend %inline-links__item;
  }
}
