/**
 * Messages
 */

.messages,
%messages {
  margin: rhythm(1) 0;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: inline-image("message-24-ok.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("message-24-ok.png");
  }
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
}

.messages--status,
%messages--status {
  @extend %messages;
  @extend %status-ok;
}

.messages--warning,
%messages--warning {
  @extend %messages;
  @extend %status-warning;
  background-image: inline-image("message-24-warning.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("message-24-warning.png");
  }
  border-color: #ed5;
}

.messages--error,
%messages--error {
  @extend %messages;
  @extend %status-error;
  background-image: inline-image("message-24-error.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("message-24-error.png");
  }
  border-color: #ed541d;
}

.messages--error__text,
%messages--error__text {
  color: #333;
}

.messages__list,
%messages__list {
  margin: 0;
}

.messages__item,
%messages__item {
  list-style-image: none;
}


// Drupal selectors.

/* Core/module installation error messages. */
.messages--error p.error {
  @extend %messages--error__text;
}
