/**
 * Resizable textareas.
 *
 * @see textarea.js
 */

.resizable-textarea__grippie,
%resizable-textarea__grippie {
  background: #eee image-url("grippie.png") no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}


// Drupal selectors.

.resizable-textarea .grippie {
  @extend %resizable-textarea__grippie;
}
