// Status report
//
// Drupal system status reports use a simple styling.
//
// markup: status.html
//
// .status--ok      - "Ok" status.
// .status--warning - Warning status.
// .status--error   - Error status.
//
// Style guide: components.messages.status

.status--ok,
%status--ok {
  background-color: color(status-bg);
  color: color(status);
}

.status--warning,
%status--warning {
  background-color: color(warning-bg);
  color: color(warning);
}

.status--error,
%status--error {
  background-color: color(error-bg);
  color: color(error);
}

//
// Drupal selectors.
//

// System status report.
.ok {
  @extend %status--ok;
}

.warning {
  @extend %status--warning;
}

.error {
  @extend %status--error;
}

// Node revisions.
.revision-current {
  @extend %status--ok;
}
