/**
 * @file
 * Watermark.
 *
 * Make the element appear beneath sibling elements, like a watermark.
 */

.watermark,
%watermark {
  height: 0;
  overflow: visible;
  // Remove background highlighting from <mark> in normalize.
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

// The watermark's wrapper only needs CSS for IE 6/7.
.watermark__wrapper,
%watermark__wrapper {
  // Otherwise adjacent elements will appear below the watermark text.
  @if support-legacy-browser(ie, "7") {
    > * {
      *position: relative;
    }
  }
}
