/* normalize-scss 3.0.0+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */

@if not $strict-normalize or support-legacy-browser(ie, "7") {
  /* Lists
     ========================================================================== */

  /**
   * Address margins set differently in IE 6/7.
   */

  dd {
    margin: 0 $indent-amount 0 0;
  }

  /**
   * Address paddings set differently in IE 6/7.
   */

  menu,
  ol,
  ul {
    padding: 0 $indent-amount 0 0;
  }
}

@if support-legacy-browser(ie, "7") {
  /* Forms
     ========================================================================== */

  /**
   * 3. Correct alignment displayed oddly in IE 6/7.
   */

  legend {
    *margin-left: 0;
    *margin-right: -7px; /* 3 */
  }
}
