<p>
  <button type="button">A normal button</button>
  <button type="submit">A submit button</button>
  <button type="reset">A reset button</button>
</p>
<p>
  <input type="button" value="Input button">
  <input type="submit" value="Input submit button">
  <input type="reset" value="Input reset button">
</p>
<p>
  <button type="button" disabled>A disabled button</button>
  <button type="submit" disabled>A disabled submit button</button>
  <button type="reset" disabled>A disabled reset button</button>
</p>
<p>
  <input type="button" value="Disabled input button" disabled>
  <input type="submit" value="Disabled input submit button" disabled>
  <input type="reset" value="Disabled input reset button" disabled>
</p>
